<div class="symbol-row">  
    <img src="{{  settings.img_confianza_1 | img_url}}" alt="{{ settings.alt_confianza_1  }}">
    <img src="{{  settings.img_confianza_2| img_url}}" alt="{{ settings.alt_confianza_2  }}">
    <img src="{{  settings.img_confianza_3 | img_url}}" alt="{{ settings.alt_confianza_3  }}">
    <img src="{{  settings.img_confianza_4 | img_url}}" alt="{{ settings.alt_confianza_4  }}">
    <img src="{{  settings.img_confianza_7 | img_url}}" alt="{{ settings.alt_confianza_7  }}">

</div>