{%- capture datos -%}  

{%- endcapture -%}

{% assign is_meta = true %}
{%- assign lineas = datos | split: '%|%' -%} 
{%- for linea in lineas %}{%- assign datos_prod = linea | split: ';' -%}{%- assign handle = datos_prod[0] | strip -%} 
	{%- if handle == product.handle -%}<title>{{ datos_prod[1] | strip }}</title>
  	 <meta name="description" content="{{ datos_prod[2] | escape }}">
	{% assign is_meta = false %}
      {%- break -%}
	{%- endif -%}
{%- endfor -%}

{% if is_meta %}
{% if seo_page %}
<title>{{ seo_title }}</title>
{% else %}
<title>{{ page_title }}</title>
{% endif %}
<meta name="description" content="{{ product.description | strip_html | escape }}">
{% endif %}

 

 