<div class="reviews reviews-flex">
    <div class="card-review">
        <div class="review-photo">
            <img src="{{'meireles.jpg' | asset_url}}" alt="foto perfil">
        </div>
        <p class="days-ago"><span>hace 1 día</span></p>
        <p class="customer-name"><span>Elisabet Solís</span></p>
        <p class="customer-product"><span>DIVAIN 117 - Similar a</span><br><span>HONEYSUCKLE & DAVANA</span>
        </p>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <p class="line-span"><span>“</span><span>  ------------------</span></p>
        
        <p class="review-comment">Estoy encantada con el perfume en su relación calidad-precio.</p>
        <br>
        <p>
            Recolectado vía Truspilot
        </p>
    </div>
    <div class="card-review">
        <div class="review-photo">
            <img src="{{'meireles.jpg' | asset_url}}" alt="foto perfil">
        </div>
        <p class="days-ago"><span>hace 1 día</span></p>
        <p class="customer-name"><span>Elisabet Solís</span></p>
        <p class="customer-product"><span>DIVAIN 117 - Similar a</span><br><span>HONEYSUCKLE & DAVANA</span>
        </p>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <p class="line-span"><span>“</span><span>  ------------------</span></p>
        
        <p class="review-comment">Estoy encantada con el perfume en su relación calidad-precio.</p>
        <br>
        <p>
            Recolectado vía Truspilot
        </p>
    </div>
    <div class="card-review">
        <div class="review-photo">
            <img src="{{'meireles.jpg' | asset_url}}" alt="foto perfil">
        </div>
        <p class="days-ago"><span>hace 1 día</span></p>
        <p class="customer-name"><span>Elisabet Solís</span></p>
        <p class="customer-product"><span>DIVAIN 117 - Similar a</span><br><span>HONEYSUCKLE & DAVANA</span>
        </p>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <p class="line-span"><span>“</span><span>  ------------------</span></p>
        
        <p class="review-comment">Estoy encantada con el perfume en su relación calidad-precio.</p>
        <br>
        <p>
            Recolectado vía Truspilot
        </p>
    </div>
    <div class="card-review">
        <div class="review-photo">
            <img src="{{'meireles.jpg' | asset_url}}" alt="foto perfil">
        </div>
        <p class="days-ago"><span>hace 1 día</span></p>
        <p class="customer-name"><span>Elisabet Solís</span></p>
        <p class="customer-product"><span>DIVAIN 117 - Similar a</span><br><span>HONEYSUCKLE & DAVANA</span>
        </p>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <p class="line-span"><span>“</span><span>  ------------------</span></p>
        
        <p class="review-comment">Estoy encantada con el perfume en su relación calidad-precio.</p>
        <br>
        <p class="recolected-by">
            Recolectado vía Truspilot
        </p>
    </div>
    <div class="card-review">
        <div class="review-photo">
            <img src="{{'meireles.jpg' | asset_url}}" alt="foto perfil">
        </div>
        <p class="days-ago"><span>hace 1 día</span></p>
        <p class="customer-name"><span>Elisabet Solís</span></p>
        <p class="customer-product"><span>DIVAIN 117 - Similar a</span><br><span>HONEYSUCKLE & DAVANA</span>
        </p>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <i class="fa fa-star fa-xs checked"></i>
        <p class="line-span"><span>“</span><span>  ------------------</span></p>
        
        <p class="review-comment">Estoy encantada con el perfume en su relación calidad-precio.</p>
        <br>
        <p class="recolected-by">
            Recolectado vía Truspilot
        </p>
    </div>
</div>
<div class="cards-arrows reviews-arrows">
    <span>{% include 'icon' with 'left-arrow' %}</span>
    <span>{% include 'icon' with 'right-arrow' %}</span>
</div>