<section data-section-id="reset-password" data-section-type="reset-password">
      <div class="account-page">
        {%- form 'reset_customer_password', name: 'activate', class: 'account-form activate-form', id: 'reset_customer_password' -%}
          <header class="">
            <h1 class="section-title">{{ 'customers.reiniciar_pass' | t  }}</h1>
            <p class="form-text">{{ 'customers.introduce_nueva_contrasena' | t  }}</p> 
          </header>
  
          {%- if form.errors -%}
            <div class="Form__Alert Alert Alert--error">
              <ul class="Alert__ErrorList">
                {%- for field in form.errors -%}
                  {%- if field == 'form' -%}
                    <li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
                  {%- else -%}
                    <li class="Alert__ErrorItem"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
  
          <div class="form-item">
            <input type="password"  name="customer[password]" aria-label="{{ 'customer.reset_password.password' | t }}" placeholder="{{ 'customers.contrasena' | t }}" autofocus>
          </div>
  
          <div class="form-item">
            <input type="password"  name="customer[password_confirmation]" aria-label="{{ 'customer.reset_password.password_confirmation' | t }}" placeholder="Confirmar contraseña">
          </div>
          <button type="submit" class="button button-register"> {{ 'customers.reset' | t | upcase  }}  </button> 
        {%- endform -%}
      </div>
  </section>