<!-- Product title and meta --> 
{%- capture datos -%} 
{%- for block in section.blocks -%}
{{block.settings.collection }};{{block.settings.txt_title }};{{block.settings.txt_meta }}%|%
{% endfor %}

chipre;Perfumes Chipre | Mujer y Hombre | Perfumes Equivalentes | DIVAIN ;Descubre nuestro catálogo de perfumes chipre equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
sisley;Sisley Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Sisley equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
versace;Versace Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Versace equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
montale;Montale Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Montale equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
juicy-couture;Juicy Couture Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Juicy Couture equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
burberry;Burberry Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Burberry equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
swarovski;Swarovski Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Swarovski equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
moschino;Moschino Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Moschino equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
cartier;Cartier Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Cartier equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
viktor-rolf;Viktor & Rolf Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Viktor & Rolf equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
britney-spears;Britney Spears Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Britney Spears equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
escada;Escada Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Escada equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
azzaro;Azzaro Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Azzaro equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
perfumes-equivalentes-marca-miu-miu;Miu Miu Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Miu Miu equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
aventus-creed;CREED Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes CREED equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
otras-equivalencias;Otras Equivalencias | DIVAIN ;Descubre nuestro catálogo de perfumes equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
oriental;Perfumes Orientales | Mujer y Hombre | Perfumes Equivalentes | DIVAIN ;Descubre nuestro catálogo de perfumes orientales equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
jo-malone;Jo Malone Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Jo Malone equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
nikos-perfume;Nikos Perfume Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Nikos Perfume equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
elizabeth-arden;Elizabeth Arden Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Elizabeth Arden equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
hugo-boss;Hugo Boss Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Hugo Boss equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
hermes;Hermes Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Hermes equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
jil-sander;Jil Sander Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Jil Sander equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
cuero;Perfumes Aroma Cuero | Hombre y Mujer | Perfumes Equivalentes | DIVAIN ;Descubre nuestro catálogo de perfumes cuero equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
prada;Prada Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Prada equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
escentric-molecules;Escentric Molecules Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Escentric Molecules equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
calvin-klein;Calvin Klein Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Calvin Klein equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
custo-barcelona;Custo Barcelona Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Custo Barcelona equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
paloma-picasso;Paloma Picasso Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Paloma Picasso equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
cacharel;Cacharel Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Cacharel equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
perfumes-equivalencia-hombre;Perfumes para Hombre | Mejores Equivalencias | DIVAIN | Parfums;Descubre nuestro catálogo de perfumes equivalentes para hombres. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums%|%
adolfo-dominguez;Adolfo Dominguez Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Adolfo Dominguez equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
angel-schlesser;Angel Schlesser Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Angel Schlesser equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
tommy-hilfiger;Tommy Hilfiger Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Tommy Hilfiger equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
bulgari;Bulgari Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Bulgari equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
ralph-lauren;Ralph Lauren Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Ralph Lauren equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
montblanc;Montblanc Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Montblanc equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
vainilla;Perfumes Aroma Vainilla para Mujer | Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes vainilla equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
chloe;Chloé Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Chloé equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
gres;Gres Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Gres equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
citrica;Perfumes Cítricos | Hombre y Mujer | Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes cítrica equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
victorio-y-lucchino;Victorio y Lucchino Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Victorio y Lucchino equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
dior;Dior Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Dior equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
marc-jacobs;Marc Jacobs Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Marc Jacobs equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
frutal;Perfumes Frutales | Mujer y Hombre | Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes frutales equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
elie-saab;Elie Saab Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Elie Saab equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
abercrombie-fitch;Abercrombie & Fitch Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Abercrombie & Fitch equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
aguas-colonia-equivalencia-ninos;Perfumes para Niños | Mejores Equivalencias | DIVAIN | Parfums;Descubre nuestro catálogo de perfumes equivalentes para niños. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums%|%
profumum-roma;Profumum Roma Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Profumum Roma equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
donna-karan-dkny;Donna Karan (DKNY) Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Donna Karan (DKNY) equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
fougere;Perfumes Fougere | Mujer y Hombre | Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes fougère equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
zadig-voltaire;Zadig & Voltaire Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Zadig & Voltaire equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
cerruti;Cerruti Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Cerruti equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
rochas;Rochas Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Rochas equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
estee-lauder;Estée Lauder Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Estée Lauder equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
perfumes-equivalencia-mujer;Perfumes para Mujer | Mejores Equivalencias | DIVAIN | Parfums;Descubre nuestro catálogo de perfumes equivalentes para mujer. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums%|%
narciso-rodriguez;Narciso Rodriguez Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Narciso Rodriguez equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
dolce-gabbana;Dolce & Gabbana Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Dolce & Gabbana equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
byredo;Byredo Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Byredo equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
thierry-mugler;Thierry Mugler Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Thierry Mugler equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
clinique;Clinique Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Clinique equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
diesel;Diesel Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Diesel equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
fendi;Fendi Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Fendi equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
armani;Armani Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Armani equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
boucheron;Boucheron Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Boucheron equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
balenciaga;Balenciaga Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Balenciaga equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
valentino;Valentino Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Valentino equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
guerlain;Guerlain Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Guerlain equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
floral;Perfumes Florales | Suaves, Frescos... | Hombre y Mujer | DIVAIN ;Descubre nuestro catálogo de perfumes florales equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
michael-kors;Michael Kors Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Michael Kors equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
joop;Joop Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Joop equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
tom-ford;Tom Ford Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Tom Ford equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
lolita-lempicka;Lolita Lempicka Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Lolita Lempicka equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
especiada;Perfumes Especiados | Mujer y Hombre | Perfumes Equivalentes | DIVAIN ;Descubre nuestro catálogo de perfumes especiados equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
roberto-cavali;Roberto Cavalli Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Roberto Cavalli equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
givenchy;Givenchy Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Givenchy equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
kenzo;Kenzo Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Kenzo equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
yves-saint-laurent;Yves Saint Laurent Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Yves Saint Laurent equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
jesus-del-pozo;Jesus del Pozo Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Jesus del Pozo equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
maison-francis-kurkdjian;Maison Francis Kurkdjian Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Maison Francis Kurkdjian equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
diptyque;Diptyque Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Diptyque equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
tiffany;Tiffany Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Tiffany equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
loewe;Loewe perfumes Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Loewe perfumes equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
perfumes-equivalencia-unisex;Perfumes Unisex | Mejores Equivalencias | DIVAIN | Parfums;Descubre nuestro catálogo de perfumes equivalentes unisex. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums%|%
chanel;Chanel Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Chanel equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
issey-miyake;Issey Miyake Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Issey Miyake equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
davidoff;Davidoff Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Davidoff equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
amouage;Amouage Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Amouage equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
acqua-di-parma;Acqua di Parma Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Acqua di Parma equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
courreges;Courrèges Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Courrèges equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
lacoste;Lacoste Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Lacoste equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
lady-gaga;Lady Gaga Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Lady Gaga equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
almizcle;Perfumes Almizcle | Mujer y Hombre | Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes almizcle equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
acuatica;Perfumes Familia Acuática | Hombre y Mujer | Perfumes Equivalentes | DIVAIN ;Descubre nuestro catálogo de perfumes de familia acuática equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
lancome;Lancôme Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Lancôme equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
louis-vuitton;Louis Vuitton Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Louis Vuitton equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
nasomatto;Nasomatto Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Nasomatto equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
gucci;Gucci Perfumes de Equivalencia | DIVAIN ;Descubre nuestro catálogo de perfumes Gucci equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
amaderada;Perfumes Amaderados | Mujer y Hombre | Perfumes Equivalentes | DIVAIN ;Descubre nuestro catálogo de perfumes amaderados equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
marcas;Todas las Marcas | Perfumes Equivalentes | DIVAIN ;Descubre nuestro catálogo de perfumes equvialentes de las principales marcas. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%
familias-olfativas de Perfumes | Fragancias Equivalentes | DIVAIN ;Descubre nuestro catálogo de perfumes equvialentes por familias olfativas. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en DIVAIN | Parfums.%|%


boadicea-the-victorious;Boadicea The Victorious Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Boadicea The Victorious equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
chopard;Chopard Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Chopard equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
creed;Creed Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Creed equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
jimmy-choo;Jimmy Choo Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Jimmy Choo equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
laboratory-perfumes;Laboratory Perfumes Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Laboratory Perfumes equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
le-labo;Le Labo Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Le Labo equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
mancera;Mancera Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Mancera equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
miu-miu;Miu Miu Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Miu Miu equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
divain;Perfumes Genéricos de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Divain equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
parfums-de-marly;Parfums De Marly Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Parfums De Marly equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
penhaligons;Penhaligons Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Penhaligons equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
roberto-cavalli;Roberto Cavalli Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Roberto Cavalli equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
roja-parfums;Roja Parfums Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Roja Parfums equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
stella-mccartney;Stella Mccartney Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Stella Mccartney equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
tartine-et-chocolat;Tartine Et Chocolat Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Tartine Et Chocolat equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
victorias-secret;Victorias Secret Perfumes de Equivalencia | DIVAIN;Descubre nuestro catálogo de perfumes Victorias Secret equivalentes. TODOS los perfumes a solo 17,95€ | El lujo al mejor precio en Divain Parfums%|%
{%- endcapture -%}

{%- assign lineas = datos | split: '%|%' -%} 
{%- for linea in lineas %}{%- assign datos_col = linea | split: ';' -%}{%- assign handle = datos_col[0] | strip -%} 
	{%- if handle == collection.handle -%}<title>{{ datos_col[1] | strip }}</title>
  	 <meta name="description" content="{{ datos_col[2] | escape }}">
      {%- break -%}
	{%- endif -%}
{%- endfor -%}

 

{% schema %}
{
  "name": "Collection title and meta",
  "settings": [ 
     
  ],
  "blocks": [
      {
        "type": "collection-title-and-meta",
        "name": "Collection title and meta",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
		  {
            "type": "text",
            "id": "txt_title",
            "label": "Título"
          },
		   {
            "type": "text",
            "id": "txt_meta",
            "label": "Descripción"
          }
			
        ]
      }
    ]
}
{% endschema %}